<div class="container">

  <section class="details">
    <h1>Theater title: {{play.title}}</h1>
    <h2>{{play.createdAt}}</h2>
    <div>
      <img src="{{play.imageUrl}}" />
    </div>
  </section>

  <section class="details">
    <h3>Theater Description</h3>
    <p>{{play.author.username}}</p>
    <p>{{play.description}}</p>
    {{#if play.isAuthor}}
    <h3>Theater Private Description</h3>
    <p>{{play.private}}</p>
    {{/if}}
    {{!-- Може и с {{#with play}}, за да не се пише play, но трябва да се затвори и отвори пак след реда с user
    {{/with}} --}}
    {{#if user}}
    <div class="buttons">
      {{#if play.isAuthor}}
      <a class="btn delete" href="/play/delete/{{play._id}}">Delete</a>
      <a class="btn edit" href="/play/edit/{{play._id}}">Edit</a>
      {{else if play.liked}}

      <span class="liked">You have already liked this play!</span>
      {{else}}
      <a class="btn like" href="/play/like/{{play._id}}">Like</a>
      {{/if}}
    </div>
    {{/if}}
  </section>
</div>